html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#stats {
  z-index: 100;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background-color: black;
  display: none;
}

#msgbox {
  position: absolute;
  left:10%;
  top:10%;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.534);
  max-width: 30%;
  min-width: 10%;
  min-height: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f3f3f366;
  padding: 1em;
  border-radius: 16px;
  color: white;
  box-shadow: 2px 2px 9px 3px #54545487;
  margin-top: 50px;
  display: none;
}

#msgbox li a {
  text-decoration: none;
}
#msgbox li a, #msgbox li a:hover, #msgbox li a:visited {
    color:white;
    font-weight: bold;
}
